html, body, #root {
    height: 100%;
    margin: 0;
    overflow: hidden; /* prevent body scroll */
}

.app {
  min-height: 100%;
  color: #FFFFFF;
  background: #121212;
  padding: 16px;
}
.section { background: transparent; border-radius: 16px; padding: 8px; }

.historySectionTitle { font-weight: 800; margin-bottom: 20px; }
.historyScroll { max-height: 120px; overflow-y: auto; padding-right: 4px; }

.spacer8 { height: 8px; }
.mt8 { margin-top: 8px; }
.mt16 { margin-top: 16px; }
.mt15 { margin-top: 15px; }
